body {
    margin: 2px;
}
.sidebar {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    display: inline-block;
    background: #dddddd;
    border: 2px solid black;
    border-radius: 5px 5px 0 0;
    height: fit-content;
}
.vizOptionsContainer {
    margin: 0px 10px;
    padding: 5px 0px;
    font-size: 12px;
}
.vizOptionsContainer button {
    font-size: 12px;
}
.vizOptionsContainer button:disabled {
    opacity: 1;
}
.vizOptionsContainer p {
    margin: 0 0 5px 0;
    font-size: 10px;
    font-style: italic;
}
.networkVizOptions {
    margin-top: 1px;
}
.singleOption {
    display: flex;
}
.singleOption label {
    margin-left: 3px;
}
.singleOptionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.checkboxContainer input {
    transform: translateY(3px);
}
input {
    margin: 1px;
}
#tooltip {		
    text-align: left;			
    width: auto;				
    height: auto;					
    padding: 5px 10px;				
    font-size: 12px;		
    background: lightsteelblue;		
    pointer-events: none;
}
#complete_viz {
    display: grid;
    height: 100vh;
    max-height: 100vh;
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 9fr 1fr; */
}
#viz {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: grid;
}
.nodes {
    cursor: pointer;
}
#legendButton {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;
}
#legend {
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0px 2px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
    width: 360px;
    display: none;
}
.legendItem {
    font-size: 11px;
}
.instructionItem {
    padding: 0px 10px;
}
.graphicWrapper {
    width: 3em;
    height: 100%;
    float: left;
}
.nodeLegend {
    transform: translateY(2px);
    margin: auto;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: black;
}
.nodeLegendOther {
    height: 5px;
    width: 5px;
}
#followerLegend {
    width: 1.5em;
    height: 0.2em;
    margin: 0.5em 0.5em 0.3em auto;
    background-color: blue;
}
#followedLegend {
    width: 1.5em;
    height: 0.2em;
    margin: 0.5em 0.5em 0.3em auto;
    background-color: red;
}
#nonColoredLegend {
    width: 1.5em;
    height: 0.2em;
    margin: 0.5em 0.5em 0.3em auto;
    background-color: #555;
#levelBarColors{
    width: 580%;
    height: 1em;
    margin: 0.5em 0.5em 0.3em auto;
    padding-top: 2em;
    background-image: linear-gradient(to right, darkblue , lightsteelblue);
}
#levelLegend{
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    padding-left: 1em;
}
#levelBarIndicatorText{
    margin-top: 1em;
    text-align: center;
}
.fakeRootElements {
    visibility: hidden;
}
.selectedNode {
    stroke: limegreen !important;
    stroke-width: 1px;
    fill-opacity: 1;
}
.highlightedNodes {
    stroke: orange !important;
    stroke-width: 1px;
    fill-opacity: 1;
}
.collapsedNode {
    stroke: #000;
    fill: url(#patternCheckers);
    stroke-width: 1px;
    fill-opacity: 1;
}
.checker {
    fill: #000;
}
.dimmedEdges {
    stroke-opacity: 0.1;
}
.highlightedEdges {
    stroke-opacity: 0.8;
}
.showButton {
    visibility: visible !important;
}
.hiddenNodes {
    visibility: hidden !important;
}
.hiddenEdges {
    visibility: hidden !important;
}
div.tooltipBars {	
    position: absolute;			
    text-align: center;				
    padding: 2px;				
    font: 12px sans-serif;	
    background: #663781;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    overflow: hidden;
    color: white;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
}
.attributeContainer {
    width: 100%;
}
.attributeLabel {
    width: 80px;
    display: inline;
}
.attributeValue {
    display: inline;
}

#bar_chart_viz {
    font-size: 12px;;
    user-select: none;
}
#bar_chart_controls {
    padding: 0 10px 2px 10px;
    text-align: center;
}
#bar_chart_div{
    margin: 0px;
    padding-top: 5px;
    border: black solid 2px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-family: 'Montserrat', sans-serif;
}
#bar_chart_div p {
    margin: 0px;
    padding: 0 10px;
    font-size: 10px;
    font-style: italic;
}
#goBackButton{
    margin: 0;
    background-color: darkblue;
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

button:disabled {
    opacity: 0.3;
}

#complete_tool{
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: scroll;
}

#barchart_side_bar{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    overflow: scroll;
}

#levelBar {
    overflow: hidden;
}
#levelBarContainer {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}